@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  Nav  */
.menuOff{
  width: 1px;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;

}
.menuOn{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;
  z-index: 100;
}

.sombra-texto{
  text-shadow: 5px 4px 2px #001e4e85;
}
.sombra-texto2{
  text-shadow: 3px 3px 1px #ffffff87;
}
.sombra-texto3{
  text-shadow: 1.6px 1.5px 1px #002f7a85;
}
.sombra-texto4{
  text-shadow: 1.7px 1.7px 2px #002f7a85;
}
.lineaSol{
  width: 40px;
  height: 5px;
  background-color: #fff;
  margin-top: 11px;
}






/* Define la animación */
@keyframes slideInFromLeft {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}


/* Aplica la animación a los elementos que la necesiten */
.slide-in-left {
  animation: slideInFromLeft 14s  forwards;
  transition: all;
}

@keyframes tranImg {
  100% { opacity: 1; filter: blur(0px) saturate(100%);  }
  0% { opacity: 0.7; filter: blur(5px) saturate(200%);  }
}

.tran {
  background-color: #000000; 
  opacity: 1; 
  animation: tranImg 2000ms forwards;
}


/*@keyframes aniTexto {
  0%{top: 80vh;}
  100%{top: 38vh;}  
}
*/
@keyframes aniTexto {
  0%{opacity: 0;}
  70%{opacity: 0;}
  100%{opacity: 1;}  
}


.animacion-texto{
  position: absolute;
  animation: aniTexto 700ms forwards;
  transition: all;
}
.animacion-texto2{
  animation: aniTexto 700ms forwards;
  transition: all;
}
.serie{
  color: #eb5347;
}
.hoverBlack{
  width: 12vw;
  height: 30vh;
  position: absolute;
  top: 12rem;
  right: 20vw;
  z-index: 10;
  padding-top: 50vh;
  text-align: center;
}
.hoverEvapo{
  width: 20vw;
  height: 30vh;
  position: absolute;
  top: 0rem;
  right: 28vw;
  z-index: 10;
  padding-top: 50vh;
  text-align: right;
}
@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 6s linear infinite;
}


/*  Loading  */

.loader {
  width: 60px;
  height: 60px;
 }
 
 .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #3147a0;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
 }
 
 @keyframes spinner8217 {
  to {
   transform: rotate(360deg);
  }
 }



/* nav */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 17px;
}

.dropdown-content .enlace {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .enlace:hover {
  background-color: #ddd;
  transition: all 200ms;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*  2  */
.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 17px;
  left: 259.6px;
  top: -1px;
  line-height: 25px;
}

.dropdown-content2 .enlace {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 .enlace:hover {
  background-color: #ddd;
  transition: all 200ms;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}


@keyframes show{
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}

.imgMain{
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 15% cover 40%;
  animation-fill-mode: both;
}


/*
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.word {
  position: absolute;
  opacity: 0;
  animation: fadeIn 3s forwards;
}
.word:nth-child(1) { 
  font-size: 100px; 
  color: #f0c50b;
  top: 10%; left: 10%;
  animation-delay: 0s;
}
.word:nth-child(2) { 
  font-size: 80px; 
  color: #eb5347;
  top: 20%; left: 20%;
  animation-delay: 0.2s;
}
.word:nth-child(3) { 
  font-size: 180px; 
  color: #f0a84d;
  top: 30%; left: 30%;
  animation-delay: 0.4s;
}
.word:nth-child(4) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 40%; left: 40%;
  animation-delay: 0.6s;
}
.word:nth-child(5) { 
  font-size: 100px; 
  color: #f0a84d;
  top: 50%; left: 50%;
  animation-delay: 0.8s;
}
.word:nth-child(6) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 60%; left: 60%;
  animation-delay: 1s;
}
.word:nth-child(7) { 
  font-size: 80px; 
  color: #eb5347;
  top: 70%; left: 70%;
  animation-delay: 1.2s;
}
.word:nth-child(8) { 
  font-size: 70px; 
  color: #3c3c3a;
  top: 80%; left: 80%;
  animation-delay: 1.4s;
}
.word:nth-child(9) { 
  font-size: 200px; 
  color: #eb5347;
  top: 90%; left: 90%;
  animation-delay: 1.6s;
}
.word:nth-child(10) { 
  font-size: 80px; 
  color: #eb5347;
  top: 10%; left: 50%;
  animation-delay: 1.8s;
}
.word:nth-child(11) { 
  font-size: 70px; 
  color: #3c3c3a;
  top: 20%; left: 60%;
  animation-delay: 2s;
}
.word:nth-child(12) { 
  font-size: 80px; 
  color: #f0c50b;
  top: 30%; left: 70%;
  animation-delay: 2.2s;
}
.word:nth-child(13) { 
  font-size: 70px; 
  color: #3c3c3a;
  top: 40%; left: 80%;
  animation-delay: 2.4s;
}
.word:nth-child(14) { 
  font-size: 100px; 
  color: #f0c50b;
  top: 50%; left: 90%;
  animation-delay: 2.6s;
}
.word:nth-child(15) { 
  font-size: 80px; 
  color: #eb5347;
  top: 60%; left: 10%;
  animation-delay: 2.8s;
}
.word:nth-child(16) { 
  font-size: 100px; 
  color: #f0c50b;
  top: 70%; left: 20%;
  animation-delay: 3s;
}
.word:nth-child(17) { 
  font-size: 80px; 
  color: #eb5347;
  top: 80%; left: 30%;
  animation-delay: 3.2s;
}
.word:nth-child(18) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 90%; left: 40%;
  animation-delay: 3.4s;
}
.word:nth-child(19) { 
  font-size: 80px; 
  color: #eb5347;
  top: 10%; left: 50%;
  animation-delay: 3.6s;
}
.word:nth-child(20) { 
  font-size: 80px; 
  color: #eb5347;
  top: 20%; left: 60%;
  animation-delay: 3.8s;
}
.word:nth-child(21) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 30%; left: 70%;
  animation-delay: 4s;
}
.word:nth-child(22) { 
  font-size: 140px; 
  color: #f0c50b;
  top: 40%; left: 80%;
  animation-delay: 4.2s;
}
.word:nth-child(23) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 50%; left: 90%;
  animation-delay: 4.4s;
}
.word:nth-child(24) { 
  font-size: 80px; 
  color: #eb5347;
  top: 60%; left: 10%;
  animation-delay: 4.6s;
}
.word:nth-child(25) { 
  font-size: 80px; 
  color: #eb5347;
  top: 70%; left: 20%;
  animation-delay: 4.8s;
}
.word:nth-child(26) { 
  font-size: 80px; 
  color: #eb5347;
  top: 80%; left: 30%;
  animation-delay: 5s;
}
.word:nth-child(27) { 
  font-size: 80px; 
  color: #eb5347;
  top: 90%; left: 40%;
  animation-delay: 5.2s;
}
.word:nth-child(28) { 
  font-size: 100px; 
  color: #f0c50b;
  top: 10%; left: 50%;
  animation-delay: 5.4s;
}
.word:nth-child(29) { 
  font-size: 60px; 
  color: #3c3c3a;
  top: 20%; left: 60%;
  animation-delay: 5.6s;
}
.word:nth-child(30) { 
  font-size: 80px; 
  color: #eb5347;
  top: 30%; left: 70%;
  animation-delay: 5.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

.helvetica{
  font-family: Helvetica, Arial, sans-serif;
}
.roboto{
  font-family: Roboto, 'Open Sans', sans-serif;
}
.open{
  font-family: 'Open Sans', sans-serif;
}
.sans{
  font-family: CMU serif;
}


.tama{
  font-size: 54px;
}

.text-shadow{
  text-shadow: 1px 1px 4px #0000005b;
}

.modalBlur{
  width: 100vw;
  height: 100vh;
  background-color: #000000ab;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(7px);
}
.contModalAplicaciones{
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalAplicaciones{
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 1px 1px 10px #000;
}
.btnModal{
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 1px 1px 5px #000;
}
.sombra-texto7{
  text-shadow: 2px 2px 10px #181818;
}

.scrollable-div::-webkit-scrollbar {
  width: 16px;  /* Ancho de la barra de desplazamiento */
  height: 10px; /* Alto de la barra (para desplazamiento horizontal) */
  
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;  /* Color del pulgar */
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1;     /* Color de fondo de la pista */
  border-radius: 10px;     /* Bordes redondeados */
}

.brxe-rgcaln {
  position: relative;
  display: grid;
  place-items: center;
  overflow: visible; /* Cambiado de hidden a visible */
}

.brxe-rgcaln > div {
  position: relative;
  transition: transform 0.3s cubic-bezier(.25, .46, .45, 1), margin 0.3s cubic-bezier(.25, .46, .45, 1);
  /* Inicialmente desacomodado */
  margin-top: 20px;
  margin-left: 20px;
}



.brxe-rgcaln:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: perspective(700px) 
  rotateX(3deg) 
  rotateY(-30deg) 
  rotateZ(2deg) 
  translateZ(48px);
  transition: transform 0.3s cubic-bezier(.25, .46, .45, 1);
  backface-visibility: hidden;
  border: 9px solid;
  box-sizing: content-box;
}
#brxe-rgcaln:before{
  border-color: #1d4674;
}
#brxe-rgcaln2:before{
  border-color: #eb5347;
}
#brxe-rgcaln3:before{
  border-color: #f0a84d;
}
.brxe-rgcaln:hover > div {
  /* Acomoda el div e imagen al estar el mouse encima */
  transform: translateX(8px) translateY(10px);
  margin-top: 0;
  margin-left: 0;
}

.brxe-rgcaln:hover > div .imgClass {
  transform: scale(1.05);
}

.brxe-rgcaln:hover:before {
  transform: translateX(0) rotateY(0) rotateX(0) scale(1);
}



.rodarImg{
  transform: perspective(360px) 
            rotateX(3deg) 
            rotateY(26deg) 
            rotateZ(2deg) 
            translateZ(2px);
}




/* Carrusel */

.carrusel11 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.imagenes11 {
  display: flex;
  animation: movimiento11 20s infinite linear;
}
.imagen11 {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.imagenes22 {
  display: flex;
  animation: movimiento22 20s infinite linear;
}
@keyframes movimiento11 {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-99.5%);
  }
}
@keyframes movimiento22 {
  0% {
      transform: translateX(-99.5%);
  }
  100% {
      transform: translateX(0);
  }
}







@keyframes slideCarac {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideCar {
  animation: slideCarac 50s linear infinite;
}



/* Estilos generales para las burbujas */
.burbuja33 {
  --circle-shape: 50%; /* Forma redonda */
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #dbe3e6;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 
              25px 35px 20px rgba(0, 0, 0, 0.05), 
              25px 30px 30px rgba(0, 0, 0, 0.05), 
              inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
}

/* Forma deformada para la burbuja 1 */
.burbuja33.deformada1 {
  --bubble-shape: 40% 60% 58% 42% / 64% 61% 39% 36%;
  border-radius: var(--bubble-shape);
}

/* Forma deformada para la burbuja 2 */
.burbuja33.deformada2 {
  --bubble-shape: 70% 30% 50% 50% / 60% 80% 30% 50%;
  border-radius: var(--bubble-shape);
}

/* Forma deformada para la burbuja 3 */
.burbuja33.deformada3 {
  --bubble-shape: 50% 50% 70% 30% / 50% 60% 50% 70%;
  border-radius: var(--bubble-shape);
}

/* Cambiar a forma circular cuando la clase "circular" se activa */
.burbuja33.circular {
  border-radius: var(--circle-shape);
}



.text-border {
  text-shadow: 
    1px 1px 0px black,   /* Borde superior izquierdo */
    -1px -1px 0px black, /* Borde inferior derecho */
    1px -1px 0px black,  /* Borde superior derecho */
    -1px 1px 0px black;  /* Borde inferior izquierdo */
}